.App {
  text-align: center;

  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  background-color: #fac905;
}

img {
  width: 70vw;
  margin: 0 auto;
  align-self: start;
}

@media only screen and (min-width: 600px) {
  img {
    width: 40vw;
  }
}
